<ul>
    <% for (repo of repos){%>
        <li> 
            <%= repo.repo_name %>
            <%= repo.language %>
            <%= repo.username %>
            <a href="/saved/remove/<%= repo._id %>">[Delete]</a>
        </li>
    <% } %>
</ul>

<!--
    <pre>
        <%= JSON.stringify(repos,null,5) %>
    </pre>
-->